body {
    width: 300px;
    height: 500px;
    background-color: #dedede;
    overflow-x: hidden;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#input {
    width: 290px;
    height: 30px;
    resize: none;
}

#logo {
    height: 75px;
}

header {
    text-align: center;
}

#site-report {
    font-size: 14px;
    text-align: center;

    padding: 5px;
    background-color: #cdcdcd;
    border: 1px #ababab;
    border-radius: 5px;
}

#sitename {
    text-align: center;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
}

#mfa-report {

}
