body {
    width: 300px;
    height: 100%;
    background-color: #dedede;
    overflow-x: hidden;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#input {
    width: 290px;
    height: 30px;
    resize: none;
}

#lock-logo {
    height: 75px;
}

header {
    text-align: center;
}

#sitename {
    text-align: center;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}

#site-report {
    font-size: 14px;
    padding: 5px 5px 25px 5px;
    background-color: #cdcdcd;
    border: 1px #ababab;
    border-radius: 5px;
}

#site-report div {
    padding-left: 0px;
}



#mfa-report {

}

.section {
    text-align: left;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    background-color: #dedede;
}
